<footer id="web-footer" class="bg-blue-950 text-white py-12 space-y-8">
  <div class="container flex justify-between">
    <div class="space-y-3">
      <h2 class="text-xl">About Us</h2>
      <ul class="text-sm text-gray-300 space-y-1">
        <li><a href="">About Deshi Jobs</a></li>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Partners</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Feedback</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl">Candidates</h2>
      <ul class="text-sm text-gray-300 space-y-1">
        <li><a href="">Create Account</a></li>
        <li><a href="">My DeshiJobs Panel</a></li>
        <li><a href="">Employability Test</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Guides</a></li>
        <li><a href="">Career</a></li>
      </ul>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl">Employeers</h2>
      <ul class="text-sm text-gray-300 space-y-1">
        <li><a href="">Create Account</a></li>
        <li><a href="">Products/Services</a></li>
        <li><a href="">Practice</a></li>
        <li><a href="">Post a Job</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Apps</a></li>
      </ul>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl">Tools & Social</h2>
      <ul class="text-sm text-gray-300 space-y-1">
        <li><a href="">Our Android App</a></li>
        <li><a href="">Our iOS App</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Google</a></li>
        <li><a href="">Youtube</a></li>
        <li><a href="">Linekdin</a></li>
      </ul>
    </div>
  </div>
  <div class="container space-y-4 flex flex-col items-end">
    <h2 class="text-xl">Download Our App</h2>
    <div class="space-y-2">
      <img src="./assets/img/App-Store-Badge.svg" alt="" />
      <img src="./assets/img/google-play-badge.svg" alt="" />
    </div>
  </div>
</footer>
