<footer id="web-footer" class="bg-blue-950 text-white py-12 space-y-8">
  <div class="container flex justify-between">
    <div class="space-y-3">
      <h2 class="text-xl">আমাদের সম্পর্কে</h2>
      <ul class="text-sm text-gray-300 space-y-1">
        <li><a href="">জব ডট কম</a></li>
        <li><a href="">টার্মস এন্ড কন্ডিশন</a></li>
        <li><a href="">পার্টনারস</a></li>
        <li><a href="">প্রাইভেসি পলিসি</a></li>
        <li><a href="">ফিডব্যাক</a></li>
        <li><a href="">যোগাযোগ</a></li>
      </ul>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl">ক্যান্ডিডেট</h2>
      <ul class="text-sm text-gray-300 space-y-1">
        <li><a href="">একাউন্ট তৈরী করুন</a></li>
        <li><a href="">চাকুরি ডট কম প্যানেল</a></li>
        <li><a href="">চাকুরি যোগ্যতা টেস্ট</a></li>
        <li><a href="">সারারন জিজ্ঞাসা</a></li>
        <li><a href="">নির্দেশাবলি</a></li>
        <li><a href="">ক্যারিয়ার</a></li>
      </ul>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl">চাকুরিদাতা</h2>
      <ul class="text-sm text-gray-300 space-y-1">
        <li><a href="">একাউন্ট তৈরী করুন</a></li>
        <li><a href="">পন্য / সেবা</a></li>
        <li><a href="">অনুশীলন</a></li>
        <li><a href="">জব পোস্ট করুন</a></li>
        <li><a href="">সাধারন জিজ্ঞাসা</a></li>
        <li><a href="">এপস</a></li>
      </ul>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl">টুলস এবং সোস্যাল</h2>
      <ul class="text-sm text-gray-300 space-y-1">
        <li><a href="">আমাদের এন্ড্রয়ড এপ</a></li>
        <li><a href="">আমাদের আইওএস এপ</a></li>
        <li><a href="">ফেসবুক</a></li>
        <li><a href="">গুগল</a></li>
        <li><a href="">ইউটিউব</a></li>
        <li><a href="">লিংকডইন</a></li>
      </ul>
    </div>
  </div>
  <div class="container flex justify-between items-center">
    <div>
      <h3 class="text-2xl">
        সাহায্যের প্রয়জন ? কল করুন ১৬৫৪৮, <span class="text-orange-500 text-3xl">০১৯৫৭২৪৪০৭০</span> আমাদের কাস্টমার সার্ভিস সেবার সময় <br />
        সকার ৯ টা থেকে বিকাল ৫ টা পর্যন্ত (শনিবার থেকে বৃহস্পতিবার)
      </h3>
    </div>
    <!-- Apps Section -->
    <div class="space-y-4 flex flex-col items-end">
      <h2 class="text-xl">আমাদের এপ ডাউনলোড করুন</h2>
      <div class="space-y-2">
        <img src="./assets/img/App-Store-Badge.svg" alt="" />
        <img src="./assets/img/google-play-badge.svg" alt="" />
      </div>
    </div>
  </div>
</footer>
