<section id="web-job-category" class="">
  <div class="bg-gray-300 my-6 rounded-md shadow-lg overflow-hidden">
    <!-- Heading -->
    <div class="flex justify-between bg-gray-50 px-12 py-5">
      <h2 class="text-lg font-bold text-black"><i class="fa-solid fa-bars"></i> এডমিন কন্টোল প্যানেল</h2>
    </div>
    <!-- Category List -->
    <div class="text-white">
      <div class="collapse collapse-arrow overflow-visible grid-rows-[35px_0fr]">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium text-black bg-gray-100 px-12"><i class="fa-solid fa-users inline-block pr-2"></i> ইউজার</div>
        <div class="collapse-content bg-gray-200 space-y-5 pt-6 px-0 text-black">
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-user-plus inline-block pr-2"></i> ইউজার যোগ</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-eye inline-block pr-2"></i> ইউজার দেখুন</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-trash-can-arrow-up inline-block pr-2"></i> ইউজার রিস্টোর করুন</a>
        </div>
      </div>
      <div class="collapse collapse-arrow overflow-visible grid-rows-[35px_0fr]">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium text-black bg-gray-100 px-12"><i class="fa-solid fa-briefcase inline-block pr-2"></i> চাকুরি</div>
        <div class="collapse-content bg-gray-200 space-y-5 pt-6 px-0 text-black">
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-plus inline-block pr-2"></i> চাকুরি যোগ</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-eye inline-block pr-2"></i> চাকুরি সমূহ দেখুন</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-trash-can-arrow-up inline-block pr-2"></i> চাকুরি রিস্টোর</a>
        </div>
      </div>
      <div class="collapse collapse-arrow overflow-visible grid-rows-[35px_0fr]">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium text-black bg-gray-100 px-12"><i class="fa-solid fa-folder-tree inline-block pr-2"></i> ক্যাটাগরি</div>
        <div class="collapse-content bg-gray-200 space-y-5 pt-6 px-0 text-black">
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-plus inline-block pr-2"></i> ক্যাটাগরি যোগ</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-eye inline-block pr-2"></i> ক্যাটাগরি দেখুন</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-trash-can-arrow-up inline-block pr-2"></i> ক্যাটাগরি রিস্টোর</a>
        </div>
      </div>
      <div class="collapse collapse-arrow overflow-visible grid-rows-[35px_0fr]">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium text-black bg-gray-100 px-12"><i class="fa-solid fa-folder-tree inline-block pr-2"></i> কোম্পানি</div>
        <div class="collapse-content bg-gray-200 space-y-5 pt-6 px-0 text-black">
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-plus inline-block pr-2"></i> কোম্পানি যোগ</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-eye inline-block pr-2"></i> কোম্পানি দেখুন</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-trash-can-arrow-up inline-block pr-2"></i> কোম্পানি রিস্টোর</a>
        </div>
      </div>
      <div class="collapse collapse-arrow overflow-visible grid-rows-[35px_0fr]">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium text-black bg-gray-100 px-12"><i class="fa-solid fa-folder-tree inline-block pr-2"></i> সিভি</div>
        <div class="collapse-content bg-gray-200 space-y-5 pt-6 px-0 text-black">
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-plus inline-block pr-2"></i> সিভি যোগ</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-eye inline-block pr-2"></i> সিভি দেখুন</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-trash-can-arrow-up inline-block pr-2"></i> সিভি রিস্টোর</a>
        </div>
      </div>
      <div class="collapse collapse-arrow overflow-visible grid-rows-[35px_0fr]">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium text-black bg-gray-100 px-12"><i class="fa-solid fa-folder-tree inline-block pr-2"></i> রোল</div>
        <div class="collapse-content bg-gray-200 space-y-5 pt-6 px-0 text-black">
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-plus inline-block pr-2"></i> রোল যোগ</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-eye inline-block pr-2"></i> রোল দেখুন</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-trash-can-arrow-up inline-block pr-2"></i> রোল রিস্টোর</a>
        </div>
      </div>
      <div class="collapse collapse-arrow overflow-visible grid-rows-[35px_0fr]">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium text-black bg-gray-100 px-12"><i class="fa-solid fa-folder-tree inline-block pr-2"></i> ভিডিও রিজিওমি</div>
        <div class="collapse-content bg-gray-200 space-y-5 pt-6 px-0 text-black">
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-plus inline-block pr-2"></i> ভিডিও রিজিওমি যোগ</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-eye inline-block pr-2"></i> ভিডিও রিজিওমি দেখুন</a>
          <a class="block hover:bg-gray-300 px-12 py-4 m-0 ac-link" href="#"><i class="fa-solid fa-trash-can-arrow-up inline-block pr-2"></i> ভিডিও রিজিওমি রিস্টোর</a>
        </div>
      </div>
    </div>
  </div>
</section>
