<div class="my-6 container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <section id="web-job-category" class="">
      <div class="bg-[url('./assets/img/bg-doddle.jpg')] md:bg-[21%_auto] bg-[50%_auto] my-6 py-6 px-12 rounded-md shadow-lg h-[82vh] flex justify-center items-center">
        <div class="h-[420px] w-96 bg-green-100 rounded-lg py-10 px-10 space-y-6 shadow-xl">
          <h3 class="text-2xl text-center font-bold">সাইন ইন করুন</h3>

          <!-- Username -->
          <div class="space-y-2">
            <h4 class="text-md">ইউজারনেম</h4>
            <input class="w-full h-10 rounded-md px-4 border border-green-900" type="text" placeholder="ইউজারনেম প্রবাশ করুন" formControlName="username" />
          </div>
          <!-- Password -->
          <div class="space-y-2">
            <h4 class="text-md">পাসওয়ার্ড</h4>
            <input class="w-full h-10 rounded-md px-4 border border-green-900" type="text" placeholder="পাসওয়ার্ড প্রবেশ করুন" formControlName="password" />
          </div>
          <!-- Login Button -->
          <a class="bg-green-800 text-white w-24 h-8 rounded-md flex items-center justify-center mx-auto"><button type="submit">লগইন</button></a>

          <div class="flex justify-between items-center">
            <h3 class="text-gray-600">পাসওয়ার্ড ভুলে গেছেন?</h3>
            <h3 class="bg-orange-600 text-white py-1 px-2 rounded-md">একাউন্ট তৈরী করুন</h3>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
