<section id="web-job-category" class="">
  <div class="space-y-4 bg-white my-6 py-6 px-12 rounded-md shadow-lg">
    <!-- Heading -->
    <div class="flex justify-between">
      <h2 class="text-lg font-bold text-blue-950"><i class="fa-solid fa-users"></i> সকল ইউজার</h2>
      <h2 class="text-xl text-green-600" *ngIf="loading">Loading..</h2>
    </div>
    <!-- Category List -->
    <div class="text-gray-700 gap-y-3 overflow-x-auto">
      <table class="min-w-full table-auto border-collapse border border-slate-400">
        <thead class="bg-gray-200">
          <tr>
            <th class="border border-slate-300">আইডি</th>
            <th class="border border-slate-300">নাম</th>
            <th class="border border-slate-300">ইউজারনেম</th>
            <th class="border border-slate-300">ইমেইল</th>
            <th class="border border-slate-300">রোল</th>
            <th class="border border-slate-300">ছবি</th>
            <th class="border border-slate-300">একশন</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td class="border border-slate-300">{{ user.user_id }}</td>
            <td class="border border-slate-300">{{ user.user_name }}</td>
            <td class="border border-slate-300">{{ user.user_username }}</td>
            <td class="border border-slate-300">{{ user.user_email }}</td>
            <td class="border border-slate-300">{{ user.role_id == 1 ? "এডমিন" : user.role_id == 2 ? "ক্যান্ডিডেট" : "চাকুরিদাতা" }}</td>
            <td class="border border-slate-300"><img class="w-10 h-10 block mx-auto" src="{{ imagePath + user.user_photo }}" alt="" /></td>
            <td class="border border-slate-300">
              <a routerLink="/dashboard/update-user/{{ user.user_id }}"><i class="fa-solid fa-pen-to-square pr-2 text-green-600"></i></a> | <i class="fa-solid fa-trash pl-2 text-red-600" (click)="deleteUser(user.user_id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
