<section id="web-job-category" class="w-full">
  <div class="space-y-4 bg-white my-6 py-6 rounded-md shadow-lg w-full">
    <!-- এডমিন সারমর্ম -->
    <div class="space-y-4 shadow-lg px-12 pb-12">
      <!-- Heading -->
      <div class="flex justify-between">
        <h2 class="text-lg font-bold text-blue-950"><i class="fa-solid fa-chart-simple"></i> এডমিন সারমর্ম</h2>
      </div>
      <!-- cards List -->
      <div class="grid grid-cols-4 gap-3 text-gray-700 gap-y-3">
        <!-- Card -->
        <div class="bg-gradient-to-r from-cyan-500 to-blue-500 text-white text-center py-12 px-5 rounded-md shadow-lg shadow-blue-700">
          <h5 class="text-2xl">এপ্লাইড জব</h5>
          <span class="text-xl"><i class="fa-solid fa-briefcase"></i> ৫</span>
        </div>
        <div class="bg-gradient-to-r from-cyan-400 to-cyan-500 text-white text-center py-12 px-5 rounded-md shadow-lg shadow-cyan-500">
          <h5 class="text-2xl">সিলেক্টেড</h5>
          <span class="text-xl"><i class="fa-solid fa-user-group"></i> ২</span>
        </div>
        <div class="bg-gradient-to-r from-amber-300 to-amber-400 text-white text-center py-12 px-5 rounded-md shadow-lg shadow-amber-500">
          <h5 class="text-2xl">ইন্টারভিউ</h5>
          <span class="text-xl"><i class="fa-solid fa-handshake-simple"></i> ১</span>
        </div>
        <div class="bg-gradient-to-r from-pink-300 to-pink-400 text-white text-center py-12 px-5 rounded-md shadow-lg shadow-pink-500">
          <h5 class="text-2xl">মোট ক্যাটাগরি</h5>
          <span class="text-xl"><i class="fa-solid fa-folder-tree"></i> ২৫</span>
        </div>
      </div>
    </div>
    <!-- Last Job Applied -->
    <div class="space-y-5 px-12 py-6">
      <!-- Heading -->
      <div class="flex justify-between">
        <h2 class="text-lg font-bold text-blue-950"><i class="fa-solid fa-chart-simple"></i> সর্বশেষ আবেদনকৃত চাকুরি</h2>
      </div>
      <!-- Single Applied Job -->
      <div class="">
        <span class="inline-block pr-2"><span class="bg-blue-600 inline-block px-3 mr-2 rounded-md text-white">চাকুরিঃ</span> <span class="font-bold">ওয়েব ডেভেলপার</span></span>
        <span><span class="text-white inline-block px-3 bg-green-600 rounded-md mr-2">আবেদনকারিঃ</span> <span class="font-bold underline decoration-2 underline-offset-2 decoration-orange-600">জাস্টিন ট্রূডো</span></span>
      </div>
      <!-- Single Applied Job -->
      <div class="">
        <span class="inline-block pr-2"><span class="bg-blue-600 inline-block px-3 mr-2 rounded-md text-white">চাকুরিঃ</span> <span class="font-bold">ওয়েব ডেভেলপার</span></span>
        <span><span class="text-white inline-block px-3 bg-green-600 rounded-md mr-2">আবেদনকারিঃ</span> <span class="font-bold underline decoration-2 underline-offset-2 decoration-orange-600">ইলন মাস্ক</span></span>
      </div>
      <!-- Single Applied Job -->
      <div class="">
        <span class="inline-block pr-2"><span class="bg-blue-600 inline-block px-3 mr-2 rounded-md text-white">চাকুরিঃ</span> <span class="font-bold">ওয়েব ডেভেলপার</span></span>
        <span><span class="text-white inline-block px-3 bg-green-600 rounded-md mr-2">আবেদনকারিঃ</span> <span class="font-bold underline decoration-2 underline-offset-2 decoration-orange-600">ডোনাল্ড ট্রাম্প</span></span>
      </div>
    </div>
  </div>
</section>
