<header id="web-header" class="">
  <!-- Topbar -->
  <div id="web-top-bar" class="bg-blue-950 text-white">
    <div class="container flex justify-between py-2">
      <div id="topbar-links" class="space-x-4">
        <a routerLink="">হোম</a>
        <a routerLink="/jobs">জব পোস্ট</a>
        <a href="">আমার একাউন্ট</a>
        <a href="">কম্পানি সমূহ</a>
        <a routerLink="about">আমাদের সম্পর্কে</a>
        <a class="bg-green-800 inline-block px-2 rounded-lg" href="">জব পোস্ট করুন</a>
      </div>
      <div id="topbar-social" class="space-x-4">
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        <a href=""><i class="fa-regular fa-envelope"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-google"></i></a>
      </div>
    </div>
  </div>
  <!-- Header -->
  <div id="web-menubar" class="bg-blue-200 shadow-lg shadow-gray-300 py-3">
    <div class="container flex justify-between items-center">
      <!-- Logo -->
      <div id="web-logo" class="">
        <h1 class="text-3xl font-bold">
          <a routerLink="">চাকুরি ডট<span class="inline-block w-3 h-3 rounded-full bg-green-600 mx-1"></span>কম</a>
        </h1>
      </div>
      <!-- Menu -->
      <div id="web-menu" class="flex items-center space-x-4">
        <h3>
          <a routerLink=""><i class="fa-solid fa-house"></i> হোম পেজ</a>
        </h3>
        <h3><i class="fa-solid fa-briefcase"></i> আবেদনকৃত</h3>
        <h3><i class="fa-solid fa-user"></i> প্রফাইল</h3>
        <h3 class="text-white bg-red-500 leading-8 inline-block px-3 rounded-md" (click)="logOut()"><i class="fa-solid fa-right-from-bracket"></i> লগ আউট</h3>
        <img class="w-10 h-10 rounded-full object-cover" src="{{ profilePhoto }}" alt="" />
        <i class="fa-solid fa-sort-down"></i>
        <h3 class="bg-blue-900 text-white inline-block px-2 leading-8 rounded-md">{{ roleName }} <i class="fa-solid fa-circle text-green-600"></i></h3>
      </div>
    </div>
  </div>
</header>
