<section id="web-job-category" class="">
  <div class="space-y-4 bg-white my-6 py-6 px-12 rounded-md shadow-lg">
    <!-- Heading -->
    <div class="flex justify-between">
      <h2 class="text-lg font-bold text-blue-950"><i class="fa-solid fa-network-wired"></i> স্পেশাল স্কিলড ক্যাটাগরি</h2>
      <div class="flex border-2 space-x-3 rounded-lg overflow-hidden">
        <button class="py-1 px-4 bg-gray-500 text-white">ফাংশনাল</button>
        <button class="py-1 px-4">ইন্ডাস্ট্রিয়াল</button>
      </div>
    </div>
    <!-- Category List -->
    <div class="grid grid-cols-3 text-gray-700 gap-y-3">
      <a href=""><i class="fa-solid fa-caret-right"></i> ঝাড়ুদার</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> ক্লিনার</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> গ্রাফিক্স ডিজাইনার</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> দারোয়ান</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> কারেন্টের মিস্ত্রি</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> প্লাম্বার</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> মালি</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> ড্রাইভার</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> সেলস ম্যান</a>
    </div>
  </div>
</section>
