<section id="web-job-category" class="">
  <div class="space-y-4 bg-white my-6 py-6 px-12 rounded-md shadow-lg">
    <!-- Heading -->
    <div class="flex justify-between">
      <h2 class="text-lg font-bold text-blue-950"><i class="fa-solid fa-network-wired"></i> বিশিস্ট পোগমার ক্যাটাগরি</h2>
    </div>
    <!-- Category List -->
    <div class="grid grid-cols-1 text-gray-700 gap-y-3">
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Production/Operations (501)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Agro(plants/Animal) (502)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Bank/Non-Bank Fin. (503)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (504)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Production/Operations (501)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Agro(plants/Animal) (502)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Bank/Non-Bank Fin. (503)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (504)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> Accounting/Finance (500)</a>
    </div>
  </div>
</section>
