<section id="web-job-category" class="">
  <div class="space-y-4 bg-white my-6 py-6 px-12 rounded-md shadow-lg">
    <!-- Heading -->
    <div class="flex justify-between">
      <h2 class="text-lg font-bold text-blue-950"><i class="fa-solid fa-location-dot"></i> বিভাগীয় চাকুরি</h2>
    </div>
    <!-- Dvision List -->
    <div class="grid grid-cols-2 text-gray-700 gap-y-3">
      <a href=""><i class="fa-solid fa-caret-right"></i> খুলনা(5)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> ঢাকা (2)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> বরিশাল (3)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> সিলেট (5)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> রাজশাহি (2)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> রংপুর (1)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> কুমিল্লা (3)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> চট্টগ্রাম (2)</a>
    </div>
  </div>
</section>
<section id="web-job-category" class="">
  <div class="space-y-4 bg-white my-6 py-6 px-12 rounded-md shadow-lg">
    <!-- Heading -->
    <div class="flex justify-between">
      <h2 class="text-lg font-bold text-blue-950"><i class="fa-solid fa-flag"></i> সরকারি চাকুরি</h2>
    </div>
    <!-- Dvision List -->
    <div class="grid grid-cols-2 text-gray-700 gap-y-3">
      <a href=""><i class="fa-solid fa-caret-right"></i> খুলনা(3)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> ঢাকা (10)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> বরিশাল (4)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> সিলেট (3)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> রাজশাহি (4)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> রংপুর (2)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> কুমিল্লা (1)</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> চট্টগ্রাম (6)</a>
    </div>
  </div>
</section>
<section id="web-job-category" class="">
  <div class="space-y-4 bg-white my-6 py-6 px-12 rounded-md shadow-lg">
    <!-- Heading -->
    <div class="flex justify-between">
      <h2 class="text-lg font-bold text-blue-950"><i class="fa-solid fa-check-double"></i> নোটিস</h2>
    </div>
    <!-- Dvision List -->
    <div class="grid grid-cols-1 text-gray-700 gap-y-3">
      <a href=""><i class="fa-solid fa-caret-right"></i> সরকারি চাকুরির বয়স বৃদ্দি করছে সরকার</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> আইটি সেক্টরে ব্যাপক নিয়োগ বিজ্ঞপ্তি</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> ঢাকায় আইটি মিটাআপ আগামি ২৭ সেপ্টেম্বরে</a>
      <a href=""><i class="fa-solid fa-caret-right"></i> সিলেটে জব ফেয়ার</a>
    </div>
  </div>
</section>
